<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DynaSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <DynaSim.Properties.Settings>
            <setting name="SecondsUnit" serializeAs="String">
                <value>Seconds</value>
            </setting>
            <setting name="MinutesUnit" serializeAs="String">
                <value>Minutes</value>
            </setting>
            <setting name="HoursUnit" serializeAs="String">
                <value>Hours</value>
            </setting>
            <setting name="DaysUnit" serializeAs="String">
                <value>Days</value>
            </setting>
            <setting name="MonthsUnit" serializeAs="String">
                <value>Months</value>
            </setting>
            <setting name="YearsUnit" serializeAs="String">
                <value>Years</value>
            </setting>
        </DynaSim.Properties.Settings>
    </applicationSettings>
</configuration>
